
/* 

#957D95
#ECCFC3
#ECB8A5
#E49AB0
#904C77

*/


body {
    padding: 20px 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: linear-gradient(45deg, red, yellow); */
    background-image: linear-gradient(45deg, #904C77, #ECCFC3);
    min-height: 500px;
}

h1, h2 {
    color: white;
}

.main {
    background-color: #904C77;
    padding: 50px 30px;
    border-radius: 50px;
}

.section {
    padding: 50px;
}

.task {
    background-color: #e8ebf7;
    padding: 20px 50px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.task > p {
    font-weight: bold;
}

.task > p, input {
    display: block;
    margin: 5px;
    font-size: 16pt;
    height: 20pt;
}

.task > button {
    width: 100%;
}
